.container {
  border-right: 1px solid hsl(0, 0%, 87%);
  min-height: 100vh;
  width: 16.66%;
  text-align: center;
  color: white;
}

.container:hover {
  color: black;
}

.signOutBtn {
  /* color: hsl(0, 0%, 96%); */
  color: black;
}

.signOutBtn:hover {
  color: hsl(0, 0%, 62%);
}

.signOutContainer {
  padding-top: 88vh;
}

.userInfoContainer {
  padding-top: 2vh;
  color: black;
}
